<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<form action="login.php" method="post">
    <div class="formGroup">
        <h3>登录界面</h3>
    </div>
    <div class="formGroup">
        <input type="text" name="user" placeholder="请输入用户名">
    </div>
    <div class="formGroup">
        <input type="password" name="password" placeholder="请输入密码">
    </div>
    <div class="formGroup">
        <input type="submit" value="提交">
    </div>
</form>
</body>
</html>