<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/showacticle.css">
</head>
<body>
<div class="panel">
    <div class="head">信息展示</div>
    <div class="biaoge">
        <table  cellspacing="0"  width="100%" cellpadding="10"  align="center">
            <tr>
                <th>cid</th>
                <th>标题</th>
                <th>简介</th>
                <th>时间</th>
                <th>作者</th>
                <th>编辑</th>
                <th>来源</th>
                <th>内容</th>
                <th>截稿时间</th>
                <th>图片</th>
                <th>操作</th>
            </tr>
            <?php echo $trs?>
            <!--<tr>-->
            <!--<td>1</td>-->
            <!--<td>1</td>-->
            <!--<td>-->
            <!--<a href="">删除</a>-->
            <!--<a href="">修改</a>-->
            <!--</td>-->
            <!--</tr>-->


        </table>
    </div>
</div>
</body>
</html>